/* Your Website Styles */
h1 {
	font-family: 'Mr+De+Haviland';
}

h3 {
	font-family: 'Mr+De+Haviland';
}

p {
	font-family: 'Elsie';
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}